<!-- <h2> <b>{{ taches.length }}</b> tâches enregistrées</h2> -->
<!-- <h2> <b>{{ (taches|async)?.length }}</b> tâches enregistrées</h2> -->

@if ((loadingState | async) === 'loading') {
    <div class="chargement">
        <h2>Chargement en cours...</h2>
        <p>Merci de patienter quelques instants.</p>
    </div>
}

@if ((loadingState | async) === 'error') {
    <div class="erreur">
        <h2>Service non disponible</h2>
        <p>Veuillez réessayer dans quelques instants.</p>
    </div>
}

@if ((loadingState | async) === 'success') {
    @if (taches | async; as listeTaches) {
        <div class="mb-3 row">
            <div class="col-auto">
                <!-- à afficher et mettre un truc cohérent pour le projet final ? bref à avoir...
                <label for="etatSelect" class="form-label">Filtrer par état de tâche :</label> -->
                <label for="etatSelect" class="col-form-label">État :</label>
            </div>
            <div class="col-auto">
                <select 
                    id="etatSelect"
                    class="form-select"
                    [(ngModel)]="etatSelectionne"
                    (change)="onEtatChange(etatSelectionne)">
                    <option value="tous">Tous les états</option>
                    <option value="à faire">À faire</option>
                    <option value="en cours">En cours</option>
                    <option value="terminée">Terminée</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="searchInput" class="col-form-label">Contenu :</label>
            </div>
            <div class="col-auto">
                <input 
                    id="searchInput"
                    type="text"
                    class="form-control"
                    [(ngModel)]="textRecherche"
                    placeholder="Rechercher...">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary">Rechercher</button>
            </div>
        </div>

        <h2> <b>{{ filtrerTaches(listeTaches).length }}</b> tâches enregistrées</h2>

        <ul class="list-group mb-2">

            <!-- 
            <li class="list-group-item bg-success">
            <div class="d-flex justify-content-between">
                <p>Une tâche terminée (fond === success)</p>
                <div class="d-flex justify-content-end">
                    <button class="btn"> <i class="fa-solid fa-backward"></i> </button>
                    <a class="btn"> <i class="fa-solid fa-magnifying-glass"></i> </a>
                    <button class="btn"> <i class="fa-solid fa-forward"></i> </button>
                </div>
            </div>
            </li>

            <li class="list-group-item bg-info">
            <div class="d-flex justify-content-between">
                <p>Une tâche en cours (fond === info)</p>
                <div class="d-flex justify-content-end">
                    <button class="btn"> <i class="fa-solid fa-backward"></i> </button>
                    <a class="btn"> <i class="fa-solid fa-magnifying-glass"></i> </a>
                    <button class="btn"> <i class="fa-solid fa-forward"></i> </button>
                </div>
            </div>
            </li>

            <li class="list-group-item bg-warning">
            <div class="d-flex justify-content-between">
                <p>Une tâche à faire (fond === warning)</p>
                <div class="d-flex justify-content-end">
                    <button class="btn"> <i class="fa-solid fa-backward"></i> </button>
                    <a class="btn"> <i class="fa-solid fa-magnifying-glass"></i> </a>
                    <button class="btn"> <i class="fa-solid fa-forward"></i> </button>
                </div>
            </div>
            </li>
            -->

            <!-- @for (tache of taches; track tache.id) {
                <app-tache-item [tache]="tache"></app-tache-item>
            } -->

            @for (tache of filtrerTaches(listeTaches); track tache.id) {
                <app-tache-item [tache]="tache"></app-tache-item>
            }
        </ul>

        <a routerLink='/tache/new' class="btn btn-info">Nouvelle tache</a>
    }
}