.blocks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10%;
  column-gap: 3%;
  max-width: 600px;
  margin: 30px auto;
}

.block {
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  text-align: center;
  transition: background-color 0.3s ease;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block:hover {
  background-color: #a9a9a9;
}

.block h2 {
  margin: 0 0 3px 0;
  font-size: 16px;
}

.block p {
  margin: 0;
  font-size: 12px;
}
